@font-face {
  font-family: "inter";
  src: url("../Roboto/Roboto-Regular.ttf") format("truetype");
}

/*Box-shadow effect with blur learned from: https://www.w3schools.com/cssref/css3_pr_box-shadow.php */

:root {
  --black: #000;
  --box-shadow: 5px 5px 10px #0000002c;
  --offwhite: rgb(230, 229, 229);
  --white: #fff;
  --lightblue: #aac2f3;
  --blue: #3d75f7;
  --margin: 0 auto;
  --max-width: 100%;
}
.big-logo,
.small-logo {
  background-image: url("/icons/LOGO.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px auto 0px 120px;
  height: 80px;
  width: 130px;
}

body {
  font-family: "inter", Verdana, Tahoma, sans-serif;
  background-color: var(--offwhite);
  margin: 0px;
}

nav {
  position: absolute;
  background-color: var(--black);
  max-width: var(--max-width);
  display: inline-block;
  box-sizing: border-box;
  margin: 50px auto;
}

header {
  position: fixed;
  background-color: var(--black);
  height: 110px;
  width: 100%;
}

h1 {
  font-size: 40px;
  color: var(--black);
  margin: 0px;
  padding-top: 30px;
  padding-left: 0px;
  text-align: center;
}

p {
  margin-bottom: 0px;
}

/*links in nav*/
header a {
  text-decoration: none;
  color: var(--lightblue);
  background: var(--black);
}

nav a:hover {
  color: var(--blue);
}

ul {
  list-style: none;
  padding: 0px;
  background: var(--black);
}

.active {
  color: var(--blue);
}

/*home page*/
.hero-container {
  background-image: url("../images/red-boy-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  max-width: var(--max-width);
  margin: 0px auto;
  box-shadow: var(--box-shadow);
  background-position: bottom 80% right 0px;
}

.hero-content-big,
.hero-content {
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.804);
  padding: 10px;
}

.hero-content h2 {
  font-size: 18px;
  margin-top: 150px;
  text-align: center;
  padding: 20px 20px 0px 20px;
}

.hero-content h3 {
  font-size: 14px;
  margin-top: 0px;
  text-align: center;
}

.big-grey-container,
.grey-container {
  background-image: url(../images/white.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 50% left;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: var(--max-width);
  padding: 0px 50px 50px;
  margin: 40px 0px 40px;
  box-shadow: var(--box-shadow);
}

.grey-content {
  background-color: rgba(255, 255, 255, 0.66);
  margin: 50px auto;
  padding: 20px;
}

.grey-container h2 {
  font-size: 50px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0px;
}

.info-container {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  box-shadow: var(--box-shadow);
  color: var(--lightblue);
}

.clock {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.phone img,
.mail img,
.ticket img,
.location img,
.clock img {
  height: 50px;
}

.phone,
.location {
  margin: 25px auto;
  text-align: center;
}

.mail,
.ticket {
  text-align: center;
  margin: 30px 30px 50px;
}

/*homepage - event containers*/

/*grid container*/
.grid-container {
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: auto;
  max-width: 400px;
  padding: 0px;
  margin: var(--margin);
}

.cafe-container,
.news2-container,
.internship-container,
.news-container {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  padding: 0px 20px;
  margin: var(--margin);
  height: 600px;
  box-shadow: var(--box-shadow);
  color: var(--black);
  margin-top: 20px;
}

.news-container {
  background-color: var(--lightblue);
}

.news {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  max-width: var(--max-width);
}

.news-image {
  background-image: url("../images/professora.webp");
  background-size: cover;
  background-position: right 30%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  height: 15em;
  width: 14em;
  background-position: top 20% left 0%;
  border-radius: 50%;
  max-height: 400px;
}

.cafe-container img {
  object-fit: contain;
  margin: 20px auto;
  width: 300px;
  height: 100px;
}

.cafe-container h2,
.news2-container h2,
.internship-container h2,
.news-container h2 {
  box-sizing: border-box;
  display: flex;
  margin: 40px auto;
  font-size: 30px;
  justify-content: center;
}

.internship-container h2,
.news2-container h2 {
  color: var(--white);
}

.internship-container,
.news2-container {
  display: flex;
  flex-direction: column;
  background-image: url("../images/mamut.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 50%;
  max-width: var(--max-width);
}

.internship-container {
  background-image: url("../images/internship.webp");
  height: 500px;
}

.news2 {
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
  margin: var(--margin);
}

.internship {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 200px;
  max-width: var(--max-width);
  background-color: var(--white);
}

.grid-info {
  background-color: rgba(255, 255, 255, 0.753);
  color: var(--black);
  margin: 10px auto 10px;
  width: 260px;
  padding: 0px 20px 10px 0px;
}

.cafe-info {
  padding: 20px;
  width: 180px;
  margin: 20px auto 20px;
  border-color: var(--lightblue);
  border-style: solid;
  border-width: 0.1px;
}

.explore-cta,
.internship-cta,
.contact-cta {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: var(--white);
  text-decoration: none;
  border-style: solid;
  margin: 0px auto;
  text-align: center;
  padding: 10px 20px;
}

.contact-cta {
  margin-top: 30px;
}

.internship-cta {
  display: flex;
  box-sizing: border-box;
  margin-top: 110px;
}

.contact-cta:hover,
.internship-cta:hover {
  color: var(--lightblue);
  font-size: 12px;
}

.cafe-container p,
.grid-info p,
.cafe-info p,
.news2 p,
.internship p,
.news p {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 0px;
  background-color: var();
}

.cafe-container p {
  color: var(--lightblue);
  margin: 30px;
}

.cafe-info p,
.grid-info p {
  text-align: center;
  margin-top: 0px auto;
}

.news2 h3,
.news h3 {
  text-align: center;
  font-size: 15px;
}

/*homepage explore exhibition container*/

.home-ex-container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
}

.big-exhibition,
.big-explore,
.title-events h1 {
  color: var(--black);
  padding: 150px 20px 10px;
}

.exhibition,
.explore {
  max-width: var(--max-width);
  margin: var(--margin);
  padding: 0px;
}

.explore h1,
.exhibition h1 {
  font-size: 30px;
}

/*intern link on a img tag learned from: https://stackoverflow.com/questions/22962704/simple-img-link-issue*/

.exhibition img,
.explore img {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  height: 500px;
  max-width: var(--max-width);
  box-shadow: var(--box-shadow);
}

#main-footer {
  background-color: var(--black);
  color: #fff;
  height: 200px;
  max-width: var(--max-width);
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}

#main-footer h3 {
  padding-top: 20px;
}

/*Explore page*/

.explore-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: var(--margin);
}

.big-kids,
.big-teachers,
.teachers,
.kids {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 10px;
  margin: 10px 10px auto;
  height: 850px;
  box-shadow: var(--box-shadow);
}

.teachers-content,
.kids-content {
  display: flex;
  flex-direction: column;
  height: 400px;
  max-width: var(--max-width);
}

.teachers-content h2,
.kids-content h2 {
  text-align: center;
}

.teachers img,
.kids img {
  object-fit: cover;
  max-width: var(--max-width);
  max-height: 550px;
}

.explore-contact {
  text-align: center;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  padding: 10px 30px 0px 0px;
  max-width: 420px;
  margin: 20px auto;
  height: 250px;
}

.explore-contact p {
  font-size: 15px;
  padding: 20px;
}

.explore-cta {
  color: var(--blue);
  font-size: 9px;
  align-items: center;
  padding: 0px 30px 20px;
  width: 150px;
  height: 18px;
  text-decoration: none;
  margin: 10px auto;
}

.explore-cta:hover {
  color: var(--lightblue);
  font-size: 8px;
  width: 130px;
  height: 16px;
}

/*exhibition spaces page*/

.internships-link,
#exhibition-links {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ex-cta-small,
.exhibition-cta {
  color: var(--blue);
  font-size: 12px;
  text-decoration: none;
  border-style: solid;
}

.big-cosmology,
.big-evolution,
.big-robotics,
#robotics,
#evolution,
#cosmology {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

#robotics h2,
#evolution h2,
#cosmology h2 {
  box-sizing: border-box;
  font-size: 25px;
  color: var(--blue);
  max-width: var(--max-width);
  margin: var(--margin);
}

.robotics-text,
.evolution-text,
.cosmology-text {
  box-sizing: border-box;
  font-size: 15px;
  padding: 20px;
  max-width: var(--max-width);
  margin: var(--margin);
}

/*About us*/

.big-about-container,
.about-container {
  background-image: url("../images/museum.webp");
  background-repeat: no-repeat;
  background-position: top 20% right 20%;
  background-size: cover;
  height: 700px;
  max-width: var(--max-width);
  margin: 0 30px;
  padding-top: 20px;
  box-shadow: var(--box-shadow);
}

.big-about-content,
.about-content {
  box-sizing: border-box;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.835);
  padding: 20px;
  width: 270px;
  height: 500px;
  max-height: 750px;
  margin: var(--margin);
}

.map-container {
  margin: 30px auto;
  background-color: var(--white);
  height: 600px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  max-width: 300px;
}

.title-map {
  color: var(--black);
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
/*Embeded Google map learned from: https://extension.umaine.edu/plugged-in/technology-marketing-communications/web/tips-for-web-managers/embed-map/ */
.big-map,
.map {
  display: flex;
  width: 500px;
  height: 450px;
  max-width: var(--max-width);
  border: 0px;
  margin: var(--margin);
}

/*contact page*/

.contact-title h1 {
  color: var(--blue);
}

.contact-body {
  background-image: url("../images/roof.webp");
  background-size: cover;
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  max-width: 300px;
  margin: 0 auto 25px;
}

#contact-container {
  box-sizing: border-box;
  max-width: var(--max-width);
  max-height: 1000%;
  padding-top: 40px;
}

.admission-container,
#form-container {
  box-sizing: border-box;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.609);
  margin: 10px auto;
  font-size: 12px;
  color: var(--grey);
  max-width: 310px;
  box-shadow: var(--box-shadow);
}

.admission-container h2,
.form-container h2 {
  font-size: 20px;
  justify-content: center;
  margin: 0px auto;
  padding-bottom: 30px;
  color: var(--blue);
}

.admission-container h3 {
  margin-top: 40px;
}

.admission-container p {
  margin-top: 0px;
  padding-bottom: 10px;
}

.big-name,
.big-email,
#email,
#name {
  display: flex;
  box-sizing: border-box;
  padding-right: 90px;
  margin-bottom: 10px;
  max-width: var(--max-width);
  color: var(--grey);
}

#subject {
  margin: 10px;
}

#message {
  display: flex;
  max-width: var(--max-width);
  margin-bottom: 10px;
}

/*MOBILE SCREEN*/

@media screen and (min-width: 250px) and (max-width: 600px) {
  /*navigation menu*/

  nav,
  #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked ~ nav {
    display: block;
    padding: 20px 40px;
  }

  .burger-icon {
    padding: 50px 0px 0px 10px;
  }

  .menu-line {
    width: 25px;
    height: 2px;
    margin-bottom: 4px;
    display: block;
  }

  .small-logo {
    justify-content: center;
    align-items: center;
  }

  /*vertical menu */

  header {
    background: var(--black);
    display: flex;
    flex-direction: row;
  }

  .nav-small {
    position: absolute;
    background: var(--black);
    font-size: 15px;
    margin: 100px 0px;
    max-width: 190px;
  }

  nav a {
    display: block;
    padding: 10px;
  }

  /*home page*/

  .hero-container-small {
    min-height: 700px;
    background-position: 50%;
  }

  .explore img {
    object-position: top 0 right 30%;
  }

  /*Exhibition spaces page*/

  .ex-cta-small {
    display: flex;
    padding: 0px 7px;
    font-size: 10px;
    margin: var(--margin);
  }

  .ex-cta-small:hover {
    color: var(--lightblue);
    font-size: 8px;
  }

  .ex-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 950px;
    margin: var(--margin);
  }

  .small-robotics,
  .small-cosmology,
  .small-evolution {
    max-width: 450px;
    margin: 0px auto;
  }

  .small-cosmology {
    margin-top: 30px;
  }

  .small-cosmology img,
  .small-evolution img,
  .small-robotics img {
    max-width: var(--max-width);
    height: 700px;
  }

  .small-cosmology img {
    height: 400px;
    object-fit: cover;
  }

  /*about us*/

  .small-info-container {
    margin: 50px auto;
    width: 350px;
  }

  .small-location {
    margin-top: 20px;
  }
}

/*DESKTOP*/
@media (min-width: 600px) {
  /*navigation menu*/

  #menu-checkbox,
  .menu-line {
    display: none;
  }

  #header-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 10px;
  }

  .big-logo {
    margin: 10px;
  }

  /*links*/
  a {
    display: inline-block;
    box-sizing: border-box;
    margin: 0px 10px;
    max-width: var(--max-width);
  }

  .burger-icon {
    display: none;
  }

  .hero-content-big {
    text-align: left;
    margin: var(--margin);
  }

  .hero-content-big h2 {
    margin-top: 180px;
    font-size: 30px;
  }

  .hero-content-big h3 {
    font-size: 18px;
  }

  .big-grey-container {
    max-width: var(--max-width);
    margin: 40px 20px 40px 20px;
  }

  .contact-info-container,
  .small-info-container,
  .info-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0 auto 20px;
    max-width: 700px;
    max-height: 400px;
    padding: 40px 20px 40px 20px;
  }

  .location {
    max-width: 30%;
  }

  /*homepage events container*/

  .big-info-container {
    max-width: var(--max-width);
    margin: 0 20px;
  }

  .big-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1200px;
    margin: var(--margin);
    padding: 0px;
  }

  .big-internship-container {
    height: 600px;
  }

  .big-home-ex-container {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: var(--margin);
  }

  .big-exhbition,
  .big-explore {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: var(--margin);
  }

  .big-explore img,
  .big-exhibition img {
    display: flex;
    flex-direction: row;
    box-shadow: var(--box-shadow);
  }

  .big-explore img {
    object-position: top 0px left 80%;
  }

  /*explore page*/

  .big-explore-container {
    display: flex;
    flex-direction: row;
    max-width: var(--max-width);
    margin: var(--margin);
  }

  .big-kids,
  .big-teachers {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    max-height: 850px;
  }

  .big-kids-content,
  .big-teachers-content {
    height: 400px;
  }

  .big-teachers img,
  .big-kids img {
    height: 700px;
  }

  .big-explore-contact {
    max-width: 650px;
  }

  .big-explore-cta {
    margin: 20px auto;
    width: 230px;
    height: 50px;
    font-size: 10px;
  }

  .big-explore-cta:hover {
    width: 220px;
    height: 45px;
    font-size: 9px;
  }

  /*Exhibition spaces*/

  .exhibition-links,
  .exhibition-cta,
  .ex-cta-small {
    display: none;
  }

  .big-ex-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }

  .big-evolution,
  .big-robotics,
  .big-cosmology {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: var(--margin);
  }

  .big-evolution img,
  .big-cosmology img,
  .big-robotics img {
    max-width: var(--max-width);
    object-fit: cover;
    height: 400px;
  }

  .big-cosmology img {
    object-position: top right 50%;
  }

  /*about us page*/

  .big-about-container {
    max-height: 700px;
    max-width: 750px;
    padding: 20px;
    margin: 0px auto 30px;
    padding: 20px;
    box-shadow: var(--box-shadow);
  }

  .big-about-content {
    font-size: 15px;
    margin: 0px auto;
    width: 600px;
    height: 400px;
  }

  .big-map-container {
    max-width: var(--max-width);
    margin: 20px;
  }

  .big-map {
    width: 700px;
  }

  /*contact page*/

  .contact-flex-container {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: var(--margin);
  }

  .big-admission {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}
